@red: #f33;
@logo-width: 262px;

.hover {
	&:hover {
		color: @red;
	}
}
.box-shadow(@params) {
	-webkit-box-shadow: @params;
	-moz-box-shadow: @params;
	box-shadow: @params;
}

.cf {
	*zoom: 1;
	&:before,
	&:after {
		content: " "; 
		display: table;
	}

	&:after {
		clear: both;
	}
}

// a:hover {
// 	color: @red;
// }

body#page {
	font-family: arial;
	font-size: 11px;
	line-height: 15px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

	header#main_header {
		.header-top {
			width: 100%;
			.cf;
			#logo {
				width: @logo-width;
				float: left;
				vertical-align: middle;
				position: absolute;
				padding: 55px 0 10px 20px;
				z-index: 10;
				background: #fff;
				
				&.visible {
					z-index: 200;

					.show {
						.decor {
							background: @red;

							&:before,
							&:after {
								background: @red;
							}
						}
					}
				}
				.box-shadow(
					0px 0 4px 2px rgba(0, 0, 0, 0.3),
					0px 0 30px 2px rgba(0, 0, 0, 0.3);
					);
				a.logo {
					position: absolute;
					display: block;
					float: left;
					background: url('sprite.png') no-repeat 0 -161px;
					width: 200px;
					height: 30px;
					top: 10px;
				}
				a.info_link {
					display: block;
					padding-bottom: 2px;
					color: #999;
					text-transform: uppercase;
					.hover;
				}
				.social_link-panel {
					padding-top: 18px;
					.social_link {
						display: block;
						width: 30px;
						height: 30px;
						background: url('sprite.png') no-repeat;
						margin-right: 5px;
						float: left;
						&.vk {
							background-position: -58px -2px;
							&:hover {
								background-position: -58px -42px;
							}
						}
						&.fb {
							background-position: -93px -2px;
							&:hover {
								background-position: -93px -42px;
							}
						}
						&.ok {
							background-position: -128px -2px;
							&:hover {
								background-position: -128px -42px;
							}
						}
						&.inst {
							background-position: -163px -2px;
							&:hover {
								background-position: -163px -42px;
							}
						}
						&.tw {
							background-position: -198px -2px;
							&:hover {
								background-position: -198px -42px;
							}
						}
						&.pint {
							background-position: -233px -2px;
							&:hover {
								background-position: -233px -42px;
							}
						}
					}
				}

				.show {
					margin: 0px 0 0 220px;
					border: none;
					background: none;
					width: 24px;
					height: 20px;
					position: absolute;
					cursor: pointer;
					top: 15px;

					.decor {
						width: 12px;
						height: 2px;
						position: relative;
						background: #333333;
						left: 0;
						top: 0;

						&:before,
						&:after {
							content:'';
							position: absolute;
							width: 12px;
							height: 2px;
							background: #333333;
							left: 0;
						}
						&:before {
							top: -5px;
						}
						&:after {
							bottom: -5px;
						}
					}
				}
			}
			.city {
				width: 270px;
				height: 30px;
				float: left;
				position: relative;
				padding: 10px 0 10px @logo-width+40;
				background: #fff;
				.box-shadow(
					0px 0 4px 2px rgba(0, 0, 0, 0.3),
					0px 0 30px 2px rgba(0, 0, 0, 0.3);
					);

				.city-select {
					position: absolute;
					z-index: 510;
					background: #fff;
					width: 235px;
					color: #aaa;
					border-radius: 16px;
					border: 2px solid;
					line-height: 22px;
					text-transform: uppercase;
					padding: 0 0 0 10px;
					&.opened {
						border: 2px solid #f33;
					}
				}
			}	
			#register {
				float: left;
				display: none;
			}
			.user {
				padding: 10px 0 0 20px;
				float: left;
				position: relative;

				.user-photo {}
				.user-name {
					text-transform: uppercase;
					text-decoration: underline;
					font-weight: bold;
					color: #555;
					position: absolute;
					top: 10px;
					line-height: 15px;
					width: 310px;
					display: block;
					padding: 0 0 0 40px;
					.hover;

					.name, .family {
						display: block;
						float: left;
						text-decoration: underline;
					}
					.name {
						&:after {
							content: ' ';
						}
					}
				}
			}
			#user-control_panel {
				float: right;
				padding-top: 15px;
				text-align: right;
				padding-right: 20px;
				.item {
					float: left;
					a {
						display: block;
						margin-left: 20px;
						text-decoration: none;
						font-weight: bold;
						color: #333;
						.hover;
						&.messages .icon {
							background-position: -66px -100px;
						}
						&.comments .icon {
							background-position: -101px -100px;
						}
						&.badges .icon {
							background-position: -136px -100px;
						}
						&.settings .icon {
							background-position: -171px -100px;
						}
						&:hover {
							&.messages .icon {
								background-position: -66px -120px;
							}
							&.comments .icon {
								background-position: -101px -120px;
							}
							&.badges .icon {
								background-position: -136px -120px;
							}
							&.settings .icon {
								background-position: -171px -120px;
							}
						}
					}

					.icon {
						display: block;
						float: left;
						width: 16px;
						height: 20px;
						background: url('sprite.png') no-repeat;
					}
					.count {
						margin-left: 5px;
					}
				}
			}
		}
		nav.header-main_menu {
			position: absolute;
			z-index: 100;
			background: #000;
			width: 100%;
			ul {
				.cf;
				.item {
					float: left;
					color:#fff;
					&.main {
						position: relative;
						background: @red;
						margin-right: 10px;
						a {
							float: left;
							padding: 10px;
							&.main-page {
								padding: 7px 10px 7px 20px;
								background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAOElEQVQIW2P8b2z8nwEG5OTgTEa4BJIgw6NHDBAJNEGQNsb/gYEIo4AqYQAhgSQIMgEigSYI0gUAVj4ZE2BcboAAAAAASUVORK5CYII=);
								.box-shadow(
									3px 0px 5px -2px rgba(0, 0, 0, 0.3),
									10px 0px 10px -4px rgba(0, 0, 0, 0.1);
									);	
								&:hover {
									color: #fff;
								}
							}
						}
						#dropdown-filters {
							float: left;
							padding: 0 10px;
							.filter {
								float: left;
								padding: 5px 0;
								a.filter-item {
									padding: 2px 10px;
									font-size: 8px;
									font-weight: bold;
									letter-spacing: 1px;
									border-radius: 50px;
									&:hover {
										background: rgba(255,255,255,0.5);
										color: #fff;
									}
									&.active {
										background: #fff;
										color:@red;
									}
								}
							}
						}
					}
					a {
						display: block;
						color: #fff;
						text-transform: uppercase;
						text-decoration: none;
						padding: 7px;
						.hover;
					}

					&.search {
						float: right;
						background: url('sprite.png') no-repeat -278px -69px;
						width: 16px;
						height: 16px;
						margin: 6px 20px 0 0;
						&:hover {
							background-position: -299px -69px;
						}
					}
				}
			}
			&.fixed {
				position: fixed;
				top: 0;
				z-index: 500;

			}
			.user {
				position: absolute;
				right: 0;
				top: 0;
				height: 29px;
				overflow: hidden;
				.user-photo {
					float: left;
				}
				.user-name {
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					padding: 6px 60px 0 10px;
					display: block;
					width: auto;
					float: left;
				}
			}
		}
	}

	#main_content {
		padding: 30px 0 0;
		background: #fff;
		position: relative;
		z-index: 10;
		#container {
			padding: 20px 20px 0 20px;
			background: #fff;
			z-index: 110;
			.block {
				padding: 0 20px 20px 0;
				float: left;
				line-height: 0;

				.photo-preview {}
				.info {
					background: #e6e6e6;
					padding: 18px 15px 15px;
					.cf;

					.block-title {
						text-transform: uppercase;
						text-decoration: underline;
						padding-bottom: 20px;
						color: #868686;
					}
					.like-icon {
						display: block;
						float: left;
						background: url('sprite.png') no-repeat -204px -91px;
						width: 30px;
						height: 30px;
					}
					.like-count {
						display: block;
						float: left;
						font-weight: bold;
						font-size: 17px;
						color: #ff3333;
						padding: 16px 0 10px 10px;
					}
					.like-add {
						border: none;
						float: right;
						background: url('sprite.png') no-repeat 0 0;
						width: 30px;
						height: 30px;
						&:hover {
							background-position: 0 -40px;
						}
						&:active {
							background-position: 0 -100px;
						}
					}
				}
			}
		}
	}

	footer#main_footer {
	}
}

@media (max-width: 320px) {}
@media (max-width: 768px) {

}
@media (max-width: 1024px) {
}
@media (max-width: 1366px) {}
@media (max-width: 1920px) {}



